views/forecast.jade
extends layouts/layout
block content
    .site-content
        .hero(data-bg-image='images/banner.png')
        | &#x9;&#x9;&#x9;
        .forecast-table
            .container
                .forecast-container
                    .today.forecast
                        .forecast-header
                            .day Heute
                            .date
                        // .forecast-header
                        .forecast-content
                            .location
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .degree
                                - var temp = (weather.daily[0].temp.day)
                                .num= temp.toString().substr(0, 2)
                                    sup o
                                    | C
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                .forecast-icon
                                    if (weather.daily[0].weather.main) == 'Clear'
                                        img(src='images/icons/icon-2.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Clouds'
                                        img(src='images/icons/icon-5.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Rain'
                                        img(src='images/icons/icon-10.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Thunder'
                                        img(src='images/icons/icon-12.svg', alt='', width='90')
                                    else if (weather.daily[0].weather.main) == 'Snow'
                                        img(src='images/icons/icon-4.svg', alt='', width='90')
                                    else
                                        img(src='images/icons/icon-9.svg', alt='', width='90')



                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span
                                img(src='images/icon-umberella.png', alt='')
                                - var temp = (10 * (weather.daily[0].pop)).toString().substr(0, ((10 * (weather.daily[0].pop)).toString().indexOf('.')))
                               = temp
                            | % Niederschlag
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            span
                                img(src='images/icon-wind.png', alt='')
                                | #{weather.daily[0].wind_speed} km/h
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day Morgen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[1].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[1].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[1].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[1].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day Übermorgen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[2].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[2].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[2].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[2].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 3 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[3].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[3].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[3].temp.day)
                            .degree= temp.toString().substr(0, temp.toString().indexOf('.'))
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[3].temp.min)
                            small= tempMin.toString().substr(0,tempMin.toString().indexOf('.'))
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 4 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[4].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[4].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[4].temp.day)
                            .degree= temp.toString().substr(0, temp.toString().indexOf('.'))
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[4].temp.min)
                            small= tempMin.toString().substr(0, tempMin.toString().indexOf('.'))
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 5 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[5].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[5].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[5].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[5].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .forecast
                        .forecast-header
                            .day In 6 Tagen
                        // .forecast-header
                        .forecast-content
                            .forecast-icon
                                if (weather.daily[6].weather.main) == 'Clear'
                                    img(src='images/icons/icon-2.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Clouds'
                                    img(src='images/icons/icon-5.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Rain'
                                    img(src='images/icons/icon-10.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Thunder'
                                    img(src='images/icons/icon-12.svg', alt='', width='48')
                                else if (weather.daily[6].weather.main) == 'Snow'
                                    img(src='images/icons/icon-4.svg', alt='', width='48')
                                else
                                    img(src='images/icons/icon-9.svg', alt='', width='48')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var temp = (weather.daily[6].temp.day)
                            .degree= temp.toString().substr(0, 2)
                                sup o
                                | C
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            - var tempMin = (weather.daily[6].temp.min)
                            small= tempMin.toString().substr(0, 2)
                                sup o
        | &#x9;&#x9;&#x9;
        footer.site-footer
            .container
                p.colophon Copyright 2020 GetYourDailyWeather. Designed by Themezy. All rights reserved
        // .site-footer
    | &#x9;&#x9;
    | &#x9;&#x9;
    script(src='js/jquery-1.11.1.min.js')
    | &#x9;&#x9;
    script(src='js/plugins.js')
    | &#x9;&#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    | &#x9;&#x9;
    script(src='index.js')
    | &#x9;&#x9;
    script(src='js/app.js')

views/forecast.html
<!DOCTYPE html(lang='en')><head><meta charset="UTF-8"/>&#x9;&#x9;<meta http-equiv="X-UA-Compatible" content="IE=edge"/>&#x9;&#x9;<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"/>&#x9;&#x9;
&#x9;&#x9;<title>GetYourDailyWeather</title><!-- Loading third party fonts--><link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css"/>&#x9;&#x9;<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css"/><!-- Loading main css file--><link rel="stylesheet" href="style.css"/><!--if lt IE 9script(src='js/ie-support/html5.js')
| &#x9;&#x9;
script(src='js/ie-support/respond.js')--></head>&#x9;<body><div class="site-header"><div class="container"><a href="index.html" class="branding"><img src="images/logo.png" alt="" class="logo"/>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="logo-type"><h1 class="site-title">GetYourDailyWeather</h1>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small class="site-description">Wie wird heute das Wetter bei Ihnen?</small></div><!-- .menu--></a><!-- .main-navigation--><div class="mobile-navigation"></div></div></div><div class="site-content"><div data-bg-image="images/banner.png" class="hero"></div>&#x9;&#x9;&#x9;<div class="forecast-table"><div class="container"><div class="forecast-container"><div class="today forecast"><div class="forecast-header"><div class="day">Heute</div><div class="date"></div></div><!-- .forecast-header--><div class="forecast-content"><div class="location">New York</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree"><div class="num">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast-icon"><img src="images/icons/icon-9.svg" alt="" width="90"/></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><img src="images/icon-umberella.png" alt=""/>20%</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><img src="images/icon-wind.png" alt=""/>18km/h</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<span><img src="images/icon-compass.png" alt=""/>East</span></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast"><div class="forecast-header"><div class="day">Tuesday</div></div><!-- .forecast-header--><div class="forecast-content"><div class="forecast-icon"><img src="images/icons/icon-3.svg" alt="" width="48"/></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small>18<sup>o</sup></small></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast"><div class="forecast-header"><div class="day">Wednesday</div></div><!-- .forecast-header--><div class="forecast-content"><div class="forecast-icon"><img src="images/icons/icon-5.svg" alt="" width="48"/></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small>18<sup>o</sup></small></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast"><div class="forecast-header"><div class="day">Thursday</div></div><!-- .forecast-header--><div class="forecast-content"><div class="forecast-icon"><img src="images/icons/icon-7.svg" alt="" width="48"/></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small>18<sup>o</sup></small></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast"><div class="forecast-header"><div class="day">Friday</div></div><!-- .forecast-header--><div class="forecast-content"><div class="forecast-icon"><img src="images/icons/icon-12.svg" alt="" width="48"/></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small>18<sup>o</sup></small></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast"><div class="forecast-header"><div class="day">Saturday</div></div><!-- .forecast-header--><div class="forecast-content"><div class="forecast-icon"><img src="images/icons/icon-13.svg" alt="" width="48"/></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small>18<sup>o</sup></small></div></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="forecast"><div class="forecast-header"><div class="day">Sunday</div></div><!-- .forecast-header--><div class="forecast-content"><div class="forecast-icon"><img src="images/icons/icon-14.svg" alt="" width="48"/></div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="degree">23<sup>o</sup>C</div>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small>18<sup>o</sup></small></div></div></div></div></div>&#x9;&#x9;&#x9;<footer class="site-footer"><div class="container"><p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p></div></footer><!-- .site-footer--></div>&#x9;&#x9;
&#x9;&#x9;<script src="js/jquery-1.11.1.min.js"></script>&#x9;&#x9;<script src="js/plugins.js"></script>&#x9;&#x9;<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>&#x9;&#x9;<script src="index.js"></script>&#x9;&#x9;<script src="js/app.js"></script></body>
