views/index.html
<!DOCTYPE html(lang='en')><head><meta charset="UTF-8"/>&#x9;&#x9;<meta http-equiv="X-UA-Compatible" content="IE=edge"/>&#x9;&#x9;<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"/>&#x9;&#x9;
&#x9;&#x9;<title>GetYourDailyWeather</title><!-- Loading third party fonts--><link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css"/>&#x9;&#x9;<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css"/><!-- Loading main css file--><link rel="stylesheet" href="style.css"/><!--if lt IE 9script(src='js/ie-support/html5.js')
| &#x9;&#x9;
script(src='js/ie-support/respond.js')--></head>&#x9;<body><div class="site-header"><div class="container"><a href="index.html" class="branding"><img src="images/logo.png" alt="" class="logo"/>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<div class="logo-type"><h1 class="site-title">GetYourDailyWeather</h1>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<small class="site-description">Wie wird heute das Wetter bei Ihnen?</small></div><!-- .menu--></a><!-- .main-navigation--><div class="mobile-navigation"></div></div></div><div class="site-content"><div data-bg-image="images/banner.png" class="hero"><div class="container"><form method="POST" action="/submit" class="find-location"><input type="text" placeholder="Geben Sie &quot;Stadt, Land&quot; an" name="weatherLocation"/>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;<input type="submit" value="Suchen"/></form></div></div>&#x9;&#x9;&#x9;<footer class="site-footer"><div class="container"><p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p></div></footer><!-- .site-footer--></div>&#x9;&#x9;<script src="js/jquery-1.11.1.min.js"></script>&#x9;&#x9;<script src="js/plugins.js"></script>&#x9;&#x9;<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>&#x9;&#x9;<script src="index.js"></script>&#x9;&#x9;<script src="js/app.js"></script></body>

views/index.jade
extends layouts/layout
block content
    .site-content
        .hero(data-bg-image='images/banner.png')
            .container
                form.find-location(method='POST', action='/submit')
                    input(type='text', placeholder='Geben Sie "Stadt, Land" an', name='weatherLocation')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    input(type='submit', value='Suchen')
        | &#x9;&#x9;&#x9;



        footer.site-footer
            .container
                p.colophon Copyright 2020 GetYourDailyWeather. Designed by Themezy. All rights reserved
        // .site-footer
    | &#x9;&#x9;
    script(src='js/jquery-1.11.1.min.js')
    | &#x9;&#x9;
    script(src='js/plugins.js')
    | &#x9;&#x9;
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    | &#x9;&#x9;
    script(src='index.js')
    | &#x9;&#x9;
    script(src='js/app.js')
